.c-text-black {
  font-family: MontserratBlack, Avenir, Helvetica, Arial, sans-serif;
}
.c-text-bold {
  font-family: MontserratBold, Avenir, Helvetica, Arial, sans-serif;
}
.c-text-medium {
  font-family: MontserratMedium, Avenir, Helvetica, Arial, sans-serif;
}

.gradient-btn {
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border-color: transparent;
  border-style: solid;
  font-size: 1rem;
  background-color: var(--gradient-blue);
  box-shadow: 0 10px 20px 2px rgba(248, 117, 43, .3);
  background-origin: border-box;
  background-image:-webkit-linear-gradient(left, var(--gradient-primary-color1), var(--gradient-primary-color2));

  &:disabled {
    cursor: not-allowed;
  }
  &-outline {
    background-image:-webkit-linear-gradient(left, var(--gradient-primary-color1) 0%, var(--gradient-primary-color2) 74%, var(--gradient-primary-color3) 100%);
    box-shadow: 2px 1000px 2px var(--primary-bg) inset;
    &:hover {
      box-shadow: none;
    }
  }
}
.gradient-bg {
  background-image: linear-gradient(to right, var(--gradient-primary-color1), var(--gradient-primary-color2));
  background-repeat: no-repeat;
  background-size: 100%;
  &-color3 {
    background-image:linear-gradient(to right, var(--gradient-primary-color1) 15%, var(--gradient-primary-color2) 74%, var(--gradient-primary-color3) 100%);
  }
}
.gradient-border {
  background-image: linear-gradient(to right, var(--gradient-primary-color1), var(--gradient-primary-color2));
  background-repeat: no-repeat;
  background-size: 100%;
  border-style: solid;
  border-color: transparent;
  background-origin: border-box;
  box-shadow: 2px 1000px 2px var(--primary-bg) inset;
  box-sizing: border-box;
  &-color3 {
    background-image:linear-gradient(to right, var(--gradient-primary-color1) 15%, var(--gradient-primary-color2) 74%, var(--gradient-primary-color3) 100%);
  }
}
.gradient-text {
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  width: fit-content;
  &-right3 {
    background-image:linear-gradient(to right, var(--gradient-primary-color1) 15%, var(--gradient-primary-color2) 74%, var(--gradient-primary-color3) 100%);
  }
  &-right {
    background-image:linear-gradient(to right, var(--gradient-primary-color1), var(--gradient-primary-color2) 99%, transparent 100%);
  }
  &-bottom {
    background-image:linear-gradient(to bottom, var(--gradient-primary-color2), var(--gradient-primary-color1));
  }
}
