.el-dialog.c-dialog {
  width: 90%;
  max-height: 90%;
  overflow: hidden;
  border-radius: 20px;
  //background-color: var(--primary-bg);
  //box-shadow: 0 0 20px 8px rgba(#AE88FE, 0.4);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.43) 0%, rgba(174, 174, 174, 0.27) 0.01%, rgba(34, 34, 34, 0.27) 100%);
  border: 1px solid rgba(132, 131, 145, 0.3);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  &-no-shadow {
    box-shadow: none;
  }
  &-md {
    max-width: 500px;
  }
  &-lg {
    max-width: 960px;
  }
  &-center {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    flex: 1;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .dialog-close-icon {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    min-height: 2rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("~@/assets/icon-close-white.svg");
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .c-dialog-content {
    flex: 1;
    overflow: hidden;
    padding: 1.2rem;
  }
}

.el-dialog.no-header {
  background: transparent;
  .el-dialog__header, .el-dialog__body {
    padding: 0;
    background: transparent;
  }
}

.c-notification.el-notification{
  background-color: var(--primary-bg);
  border: 1px solid rgba(132, 131, 145, 0.3);
  background-origin: border-box;
  box-shadow: 0 0 20px 8px rgba(#AE88FE, 0.4);
  box-sizing: border-box;
  .el-notification__closeBtn {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
}
.c-notification .el-notification__content {
  color: white;
}
.c-notification .el-notification__title {
  color: var(--primary-custom);
}
.c-checkbox .el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: var(--primary-custom);
  border-color: var(--primary-custom);
}
.c-img-dialog.el-dialog {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.c-img-dialog .el-dialog__header {

}
.c-img-dialog .el-dialog__body {
  flex: 1;
  position: relative;
}
.c-progress .el-progress-bar__outer {
  background-color: #333333;
}
.c-progress .el-progress-bar__inner {
  background-color: var(--gradient-primary-color1);
  background-image: linear-gradient(to right, var(--gradient-primary-color1), var(--gradient-primary-color2));
}
.c-progress .el-progress-bar__innerText {
  color: #1B1B1B;
}
