@media (min-width: 1440px){
  html, body {
    font-size: 125% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1440px){
  html, body {
    font-size: 100% !important;
  }
}
@media (max-width: 1200px){
  html, body {
    font-size: 88% !important;
  }
}
//@media (min-width: 500px) and (max-width: 960px) {
//  html, body {
//    font-size: 80% !important;
//  }
//}
//@media (max-width: 500px) {
//  html, body {
//    font-size: 60% !important;
//  }
//}
